script
    include ../js/unbrotli.min.js

script.
    function _base64ToArrayBuffer( base64 ) {
        var binary_string = window.atob( base64 );
        var len = binary_string.length;
        var bytes = new Uint8Array( len );
        for ( var i = 0; i < len; i++ ) {
            bytes[ i ] = binary_string.charCodeAt( i );
        }
        return bytes;
    }

    var decompress = ( function( asset, type ) {
        return unbrotli( _base64ToArrayBuffer( asset ) );
    } );

    var decompressArrayBuffer = ( function( asset ) {
        return new Promise( function( resolve, reject ) {
            resolve( decompress( asset ).buffer );
        } );
    } );

    var decompressString = ( function( asset ) {
        return new Promise( function( resolve, reject ) {
            resolve( new TextDecoder( 'utf-8' ).decode( decompress( asset ) ) );
        } );
    } );

    window.addEventListener( 'DOMContentLoaded', function() {
        Promise.all( window._compressedAssets ).then( function() {
            window.dispatchEvent( new Event( 'luna:build' ) );
        } );
    } );