script.
    window.LUNA_PLAYGROUND_OVERRIDES;
    window.LUNA_PLAYGROUND_BUNDLES;

    window.$environment = {
        baseUrl: !{ JSON.stringify( base_url ) },
        resourceConfig: !{ JSON.stringify( config ) },
        packageConfig: !{ JSON.stringify( package ) },
        playerPrefs: !{ JSON.stringify( playerPrefs ) }
    };